@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@theme {
  --font-sans: var(--font-geist-sans);
}

@layer base {
  * {
    font-family: var(--font-geist-san);
    text-rendering: optimizeLegibility;

    scrollbar-width: thin;
  }
}

@utility scrollbar-hidden {
  scrollbar-width: none;
}

:root {
  --priyo-stable: #ff2056;
  --priyo-canary: #f10a0a;
  --stable-color: var(--priyo-stable);
  --canary-color: var(--priyo-canary);
}

/* Stable docs theme: /docs/stable/... */
.stable {
  --color-fd-primary: var(--priyo-stable);
}

/* Canary docs theme: /docs/canary/... */
.canary {
  --color-fd-primary: var(--priyo-canary);
}
